@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Roboto', sans-serif;
      background-color: #F6F7FB;
    }
  }
@layer components{
  .how-to-apply a{
    color: #1E86FF;
  }
  /* styling the list from the offer description */
  .description ul li{
    margin-left: 1em;
    width: 80%;
  }
  .description ul li:before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #1E86FF; 
    font-weight: bold;
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
  }
}